{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}
    {% for message in app.flashes('exito') %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-lg-6">
        <h2>Registrar nuevo usuario</h2>
        {{ form(form) }}
    </div>


{% endblock %}
